/* Reset settings */
@font-face {
    font-family: almarai;
    src: url(/Almarai.woff2);
    font-weight: bold;
    font-display: swap;
}
body {
    font-family: almarai;
}
/* delte all before */
html {
    --color-text-brand: #007bff;
    --color-surface-surface-card: #ffffff;
    --color-text-primary: #1f2123;
    --color-primary-800: #014eac;

    --color-surface-surface-secondary: #adb6be;
    font-size: 16px;
}
.px-portfolio-section-container * {
    margin: 0;
    padding: 0;
}
.px-section-secondary {
    background-color: #f7f9fa;
    padding: 4rem 0.5rem;
    display: grid;
    place-content: center;
}
.px-form-container {
    border: 2px solid #007bff;
    max-width: 30rem;
    border-radius: 12px;
    padding: 2rem 1rem;
    display: grid;
    gap: 2rem;
    background-color: var(--color-surface-surface-card);
}

.px-text-center {
    text-align: center;
}
.px-text-brand {
    color: var(--color-text-brand);
}

.px-header-secondary-brand {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.3125;
    color: var(--color-text-brand);
}
.px-form {
    display: grid;
    gap: 1.5rem;
}
@media (min-width: 48rem) {
    .px-form {
        padding-block: 2rem;
    }
}

.px-label {
    font-size: 0.8125rem;
    line-height: 1.3;
    color: var(--color-text-primary);
    display: grid;
    gap: 0.5rem;
    cursor: pointer;
    &:has(select) {
        column-gap: 0.75rem;
        grid-template-columns: 1fr min-content;
        & > :nth-child(1) {
            grid-area: 2/1;
        }
        & > :nth-child(2) {
            grid-area: 2/2;
        }
    }
}
.px-label:has(select) {
}

.px-input-primary {
    border: 1px solid var(--color-surface-surface-secondary);
    border-radius: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.667;
    cursor: pointer;
    padding: 1rem;
    padding-inline-end: 3.5rem;
    &:is(select) {
        appearance: none;
        padding-inline-end: 3rem;
        background: url("/caret-down.svg") 1rem 50% / 0.75rem no-repeat;
    }

    &:user-valid {
        background: url("/valid.svg") 1rem 50%/ 1.5rem no-repeat;
    }
    &:user-invalid {
        background: url("/invalid.svg") 1rem 50%/ 1.5rem no-repeat;
    }
    &:focus {
        outline: 2px solid var(--color-text-brand);
    }
}

.px-ltr-end {
    direction: ltr;
    text-align: end;
}
.px-label-checkbox {
    font-size: 0.875rem;
    line-height: 1.25;
    display: flex;
    gap: 1rem;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
}

.px-checkbox-primary {
    appearance: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.25rem;
    border: 1px solid var(--color-surface-surface-secondary);
    width: 1.25rem;
    aspect-ratio: 1;
    &:checked {
        background:
            url("/check-mark.svg") 50% 50% / 65% no-repeat,
            var(--color-text-brand);
        border-color: var(--color-text-brand);
    }
}

.px-button-primary {
    font-size: 1.125rem;
    line-height: 1.667;
    font-weight: 700;
    color: var(--color-surface-surface-card);
    background-color: var(--color-text-brand);
    border-radius: 9999px;
    padding: 0.5rem 3.5rem;
    text-decoration: none;
    border: none;

    margin-inline: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
    &:hover {
        background-color: var(--color-primary-800);
    }
}

.px-portfolio-link {
    border-radius: 9999px;
    font-size: 1.25rem;
    line-height: 1.67;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: #1f2123;
}
.px-portfolio-link-first {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: #fbbf0d;
    &:hover {
        background-color: #ffe483;
    }
}
.px-portfolio-link-second {
    background-color: #ffffff;
    &:hover {
        background-color: #e1e8ef;
    }
}
.px-portfolio-section-container {
    container-type: inline-size;
}
.px-portfolio-subtitle {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    color: #007bff;
    margin-bottom: 0.5rem;
}
.px-portfolio-section {
    display: grid;
    row-gap: 2rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background: linear-gradient(
        245.42deg,
        rgba(234, 247, 245, 1) 3.36%,
        #d7e6f5 85.74%
    );
    color: #1f2123;
}

.px-portfolio-article {
    display: grid;
    row-gap: 2rem;
}
.px-portfolio-header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
}
.px-portfolio-header::before {
    content: unset;
}
.px-portfolio-paragraph {
    font-size: 1.125rem;
    line-height: 1.65;
}
.px-portfolio-list {
    list-style-type: none;
    display: grid;
    gap: 0.5rem;
    padding: 0;
}
.px-portfolio-list-item {
    padding-inline-start: 2rem;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_6324_421576)'%3E%3Cpath d='M11.4281 15.9281C10.9172 16.4391 10.0828 16.4391 9.57187 15.9281L6.57187 12.9281C6.06094 12.4172 6.06094 11.5828 6.57187 11.0719C7.08281 10.5609 7.91719 10.5609 8.42813 11.0719L10.5 13.1437L15.5719 8.07187C16.0828 7.56094 16.9172 7.56094 17.4281 8.07187C17.9391 8.58281 17.9391 9.41719 17.4281 9.92813L11.4281 15.9281ZM24 12C24 18.6281 18.6281 24 12 24C5.37188 24 0 18.6281 0 12C0 5.37188 5.37188 0 12 0C18.6281 0 24 5.37188 24 12ZM12 2.25C6.61406 2.25 2.25 6.61406 2.25 12C2.25 17.3859 6.61406 21.75 12 21.75C17.3859 21.75 21.75 17.3859 21.75 12C21.75 6.61406 17.3859 2.25 12 2.25Z' fill='%23007BFF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_6324_421576'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right top 4px;
}

.px-calculator-container {
    padding: 1rem;
    border-radius: 0.75rem;
    gap: 1rem;
    background-color: #fff;
    display: grid;
    container-type: inline-size;
}

.px-calculator-header {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.67;
    display: flex;
    align-items: center;
    gap: 0.125rem;
}
.px-calculator-header svg {
    cursor: pointer;
    height: 0.5lh;
    width: auto;
}

.px-calculator-list {
    display: grid;
    gap: 0.5rem;
    list-style: none;
    text-align: center;
    padding: 0;
}

.px-calculator-subheader {
    font-size: 3rem;
    line-height: 1;
    color: #007bff;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-block: 0.5rem;
}
.px-calculator-label {
    display: block;
    border-radius: 0.5rem;
    border: 1px solid #e1e8ef;

    padding: 0.5rem;
    cursor: pointer;
}
.px-calculator-label:has(input:checked) {
    border-color: #007bff;
}

.px-calculator-input {
    appearance: none;
    -webkit-appearance: none;
}

.px-portfolio-links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.px-portfolio-link-first {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background-color: #fbbf0d;
}
.px-portfolio-link-second {
    place-self: start;
    background-color: #ffffff;
}

.custom-padding {
    padding-block: 0;
}
.px-portfolio-section-container {
    container-type: inline-size;
}

.px-portfolio-subtitle {
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    color: #007bff;
    margin-bottom: 0.5rem;
}
.px-portfolio-section {
    display: grid;
    position: relative;
    row-gap: 2rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    background: linear-gradient(
        245.42deg,
        rgba(234, 247, 245, 1) 3.36%,
        #d7e6f5 85.74%
    );
    color: #1f2123;
    &:has(.px-calculator-container) {
        background:
            radial-gradient(
                    circle,
                    rgba(255, 255, 255, 0.7) 2px,
                    transparent 2px
                )
                16px 16px / 16px 16px,
            url("/Isolation_Mode.svg") left bottom no-repeat,
            url("/Frame.png") center center / cover no-repeat,
            linear-gradient(
                245.42deg,
                rgba(234, 247, 245, 1) 3.36%,
                #d7e6f5 85.74%
            );
    }
}

.px-portfolio-article {
    display: grid;
    row-gap: 2rem;
    align-self: center;
}
.px-portfolio-header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
}
.px-portfolio-paragraph {
    font-size: 1.125rem;
    max-width: 45ch;
    line-height: 1.65;
}

@container (min-width: 20rem) {
    .px-calculator-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.px-portfolio-links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

@container (max-width: 60rem) {
    .px-portfolio-section:not(:has(.px-calculator-container))
        .px-portfolio-links-container {
        position: absolute;
        inset-block-end: 2rem;
        inset-inline-end: 1rem;
        & .px-portfolio-link-first {
            margin-inline-start: auto;
        }
        & .px-portfolio-link-second {
            margin-inline-start: auto;
        }
        & .px-portfolio-links-container {
            display: grid;
        }
    }
}

@container (min-width: 60rem) {
    .px-portfolio-section {
        grid-template-columns: 1fr 1fr;
        padding: 4rem 3rem;
        column-gap: 2rem;
    }
    .px-calculator-container {
        max-width: 30rem;
        width: 100%;
        place-self: center;
        grid-area: 1/2;
    }
    .px-portfolio-header {
        font-size: 3rem;
        line-height: 1.25;
    }
    .px-portfolio-paragraph {
        font-weight: 700;
    }
    .px-portfolio-subtitle {
        font-size: 1.125rem;
        line-height: 1.67;
    }
}

@container (min-width: 60rem) {
    .px-portfolio-section:not(:has(.px-calculator-container)) {
        grid-template-columns: 1fr 1fr;
        padding: 0rem 3rem;
        column-gap: 2rem;
    }

    .px-portfolio-header {
        font-size: 3rem;
        line-height: 1.25;
    }
    .px-portfolio-paragraph {
        font-weight: 700;
    }
    .px-portfolio-subtitle {
        font-size: 1.125rem;
        line-height: 1.67;
    }
}
